@inherits LayoutComponentBase

<div class="border-1 shadow rounded bg-light p-1">
    <div class="row m-0">
        <NavLink class="btn btn-outline-secondary mb-1" href="factory1" Match="NavLinkMatch.All"
                 ActiveClass="btn-dark text-white">
            <span class="fa fa-home" aria-hidden="true"></span> Завод 1 обзор
        </NavLink>
        <NavLink class="btn btn-outline-secondary mb-1" href="factory1/general"
                 ActiveClass="btn-dark text-white">
            <span class="fa fa-store" aria-hidden="true"></span> Данные смены
        </NavLink>
        <NavLink class="btn btn-outline-secondary mb-1" href="factory1/warehouse1"
                 ActiveClass="btn-dark text-white">
            <span class="fa fa-store" aria-hidden="true"></span> Данные по складу сырья № 1
        </NavLink>
        <NavLink class="btn btn-outline-secondary mb-1" href="factory1/press1"
                 ActiveClass="btn-dark text-white">
            <span class="fa fa-store" aria-hidden="true"></span> Данные по прессу № 1
        </NavLink>
        <NavLink class="btn btn-outline-secondary mb-1" href="factory1/autoclave1"
                 ActiveClass="btn-dark text-white">
            <span class="fa fa-store" aria-hidden="true"></span> Данные по автоклаву № 1
        </NavLink>
        <NavLink class="btn btn-outline-secondary mb-1" href="factory1/pack1"
                 ActiveClass="btn-dark text-white">
            <span class="fa fa-store" aria-hidden="true"></span> Данные по упаковке № 1
        </NavLink>
        <NavLink class="btn btn-outline-secondary mb-1" href="factory1/warehouse2"
                 ActiveClass="btn-dark text-white">
            <span class="fa fa-store" aria-hidden="true"></span> Данные по складу готовой продукции № 2
        </NavLink>
    </div>
</div>
