@inherits LayoutComponentBase

<footer class="border-top footer text-light bg-success">
    <div class="container-flyid px-2">
        &copy; 2022 - kanadeiar 
        <a class="text-white" target="_blank" href="https://github.com/kanadeiar/DigitalJournal">
            github
        </a>
    </div>
</footer>
