@inherits LayoutComponentBase

<div class="border-1 shadow rounded bg-light p-1">
    <div class="row m-0">
        <NavLink class="btn btn-outline-secondary mb-1" href="online" Match="NavLinkMatch.All"
                 ActiveClass="btn-dark text-white">
            <span class="fa fa-home" aria-hidden="true"></span> Онлайн обзор
        </NavLink>
    </div>
</div>
