<div class="mt-2 p-2 mb-2 bg-success text-white rounded-2">
    <h1 class="display-3 mb-5 text-center"><strong>Цифровой журнал</strong></h1>
    <p class="lead">Прототип приложения - электронный журнал предприятия.</p>
    <hr>
    <p>Приложение для целей сбора и хранения различной информации предприятия.</p>
</div>
