@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight" IconType="IconType.FontAwesome" SuccessIcon="fa fa-thumbs-up" ErrorIcon="fa fa-bug"/>

<_HeaderPartial />

<main role="main" class="pb-4">
    @Body
</main>

<_FooterPartial />