@{
    ViewBag.Title = "О приложении";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 mb-1">
            <partial name="Partial/_LeftSidebarPartial" />
        </div>
        <div class="col-md-9 mb-1">
            <div class="border-1 bg-light shadow rounded-1 p-2">
                <h1>@ViewBag.Title</h1>

                <h1 class="p-4 bg-success text-white text-center rounded-2">Цифровой журнал</h1>

                <p>Приложение для целей сбора и хранения различной информации предприятия.</p>

                <a class="btn btn-outline-success" target="_blank" href="https://github.com/kanadeiar/DigitalJournal">
                    <i class="fab fa-git"></i>
                    Мой github
                </a>
            </div>
        </div>
    </div>
</div>