@page "/office1"
@inherits OwningComponentBase<DigitalJournalContext>

<PageTitle>Офис 1 - Компетенции сотрудников</PageTitle>

<div class="row">
    <div class="col-md-4 col-lg-3 mb-1">
        <_Office1LeftSidebarPartial />
    </div>
    <div class="col-md-8 col-lg-9 mb-1">
        <div class="border-1 bg-light shadow rounded-1 p-2">
            <h1 class="my-2 p-2"><span class="fa fa-home" aria-hidden="true"></span> Обзор данных по офису 1</h1>

        </div>
    </div>
</div>
