<footer class="border-top footer text-white bg-success">
    <div class="container">
        &copy; 2022 - kanadeiar 
        <a class="text-white" href="https://github.com/kanadeiar/DigitalJournal">
            github
        </a>
    </div>
</footer>
