<div class="border-1 shadow rounded bg-light p-1">
    <h4 class="text-center text-white bg-success p-2">Информация</h4>
    <div class="accordion accordion-flush" id="accordionInfo">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-link text-dark">
                    Главные данные
                </a>
            </li>
            <div class="accordion-item">
                <h2 class="accordion-header" id="showMainResults">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#mainResults" aria-expanded="false" aria-controls="mainResults">
                        Информационные категории
                    </button>
                </h2>
                <div id="mainResults" class="accordion-collapse collapse" aria-labelledby="showMainResults"
                     data-bs-parent="#resultsInfo">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li>
                                <a asp-controller="Home" asp-action="Products" class="nav-link text-dark fw-light px-0">
                                    Напрессованная продукция заводом № 1
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Speed" class="nav-link text-dark fw-light px-0">
                                    Скорость работы завода № 1
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Quality" class="nav-link text-dark fw-light px-0">
                                    Качество продукции завода № 1
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>

