<div class="border-1 shadow rounded bg-light p-1">
    <h4 class="text-center text-white bg-success p-2">Информация</h4>
    <div class="accordion accordion-flush" id="accordionInfo">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-link text-dark">
                    Главные данные
                </a>
            </li>
        </ul>
    </div>
</div>

