<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownInfo" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            Информация
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownInfo">
            <li>
                <a asp-controller="Home" asp-action="Index" class="dropdown-item">Главные данные</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Products" class="dropdown-item">Напрессованная продукция заводом № 1</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Speed" class="dropdown-item">Скорость работы завода № 1</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Quality" class="dropdown-item">Качество продукции завода № 1</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Home" asp-action="About">О приложении</a>
    </li>
</ul>
